html {
  background-color: #152b38;
}

body {
  margin: 0px 0px 0px 0px;
}

.header {
  display: flex;
  align-items: end;
  background-color: #fecf00;
  background-image: url("movieTime.jpg");
  border-bottom: solid 1px black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 25%;
  width: 100%;
  height: 200px;
}

.titleText {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 70px;
  font-family: sans-serif, serif, Arial;
  height: fit-content;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000,
    2px 2px 0 #000;
}

.menubar {
  display: flex;
  justify-content: center;
  margin: 2px;
  width: 100%;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 35px;
  width: 125px;
  margin: 1px;
  text-align: center;
  background-color: #152b38;
  color: white;
  border: solid 1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: large;
  font-family: sans-serif, serif, Arial;
  box-shadow: #000 0px 0px 3px 0px;
  border-radius: 5px;
}

.menuButton:hover {
  background-color: #3eabd1;
  color: white;
  cursor: pointer;
}

.movieRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
}

.movie {
  position: relative;
  height: 275px;
  width: 200px;
  margin: 25px;
  flex-basis: auto;
}

.movie img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: #000 0px 5px 5px 5px;
}

.movie:hover img {
  width: 110%;
  height: 110%;
  transition: 0.3s;
}

#ratedMovies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  max-width: fit-content;
  gap: 50px;
  font-family: sans-serif, serif, Arial;
  color: white;
}

.ratedMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ratedMovies p {
  font-size: 20px;
  font-style: italic;
}

#ratedMovies img {
  justify-content: center;
  width: 225px;
  height: 300px;
  border-radius: 10px;
  box-shadow: #000 0px 5px 5px 5px;
}

.movie .addButton {
  position: relative;
  width: 100%;
  height: fit-content;
  top: -40%;
  left: -45%;
  transform: translate(50%, 50%);
  background-color: #fecf00;
  font-size: 18px;
  font-family: sans-serif, serif, Arial;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.movie:hover .addButton {
  display: block;
  transition: 0.3s;
}

.infoButton {
  position: relative;
  width: 100%;
  height: fit-content;
  top: -38%;
  left: -45%;
  transform: translate(50%, 50%);
  background-color: #fecf00;
  font-size: 18px;
  font-family: sans-serif, serif, Arial;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.removeButton {
  position: relative;
  width: 100%;
  height: fit-content;
  top: -38%;
  left: -45%;
  transform: translate(50%, 50%);
  background-color: #fecf00;
  font-size: 18px;
  font-family: sans-serif, serif, Arial;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.movie:hover .infoButton {
  display: block;
  transition: 0.3s;
}

.movie .rateButton {
  position: relative;
  width: 100%;
  height: fit-content;
  top: -40%;
  left: -45%;
  transform: translate(50%, 50%);
  background-color: #fecf00;
  font-size: 18px;
  font-family: sans-serif, serif, Arial;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.movie:hover .rateButton {
  display: block;
  transition: 0.3s;
}

.movie:hover .removeButton {
  display: block;
  transition: 0.3s;
}

.watermark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fecf00;
  top: 0;
  left: 0;
  font-size: 20px;
  font-family: sans-serif, serif, Arial;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  background-color: #152b38;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
  max-width: 600px;
  font-family: sans-serif, serif, Arial;
  color: white;
  position: relative;
  left: 0;
  top: 0;
}

.modalContent form {
  background-color: #152b38;
  margin: auto;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
  max-width: 600px;
  font-family: sans-serif, serif, Arial;
  color: white;
}

.modalContent input[type="number"],
.modalContent textarea {
  background-color: white;
  border: 1px solid #888;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-family: sans-serif, serif, Arial;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

.modalContent button[type="submit"] {
  background-color: #fecf00;
  color: black;
  font-size: 16px;
  font-family: sans-serif, serif, Arial;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.modalContent input[type="checkbox"] {
  cursor: pointer;
}

.modalContent button[type="submit"]:hover {
  background-color: #f8e178;
}

.closeButton {
  color: #a1a1a1;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ratedMovie p {
  margin-top: 0px;
  font-family: sans-serif, serif, Arial;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000,
    2px 2px 0 #000;
  margin-bottom: 10px;
}

.ratedMovie h1 {
  margin-top: 5px;

  font-family: sans-serif, serif, Arial;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000,
    2px 2px 0 #000;
}

.ratedMovie h2 {
  font-family: sans-serif, serif, Arial;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000,
    2px 2px 0 #000;
  border-bottom: white 1px solid;
}

@media only screen and (max-width: 600px) {
  .movie {
    height: 200px;
    width: 125px;
  }

  .movie .infoButton {
    position: relative;
    width: 100%;
    height: fit-content;
    top: -35%;
    left: -50%;
    transform: translate(50%, 50%);
    background-color: #fecf00;
    font-size: 18px;
    font-family: sans-serif, serif, Arial;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
  }

  .movie .addButton {
    position: relative;
    width: 100%;
    height: fit-content;
    top: -40%;
    left: -50%;
    transform: translate(50%, 50%);
    background-color: #fecf00;
    font-size: 18px;
    font-family: sans-serif, serif, Arial;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
  }

  .movie .rateButton {
    position: relative;
    width: 100%;
    height: fit-content;
    top: -40%;
    left: -50%;
    background-color: #fecf00;
    font-size: 18px;
    font-family: sans-serif, serif, Arial;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
  }

  .movie .removeButton {
    position: relative;
    width: 100%;
    height: fit-content;
    top: -35%;
    left: -50%;
    background-color: #fecf00;
    font-size: 18px;
    font-family: sans-serif, serif, Arial;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
  }

  .watermark {
    position: absolute;
    background-color: #fecf00;
    font-size: 18px;
    font-family: sans-serif, serif, Arial;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
  }

  #ratedMovies p {
    font-size: 16px;
    font-style: italic;
    font-family: sans-serif, serif, Arial;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000,
      2px 2px 0 #000;
  }

  #ratedMovies h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000,
      2px 2px 0 #000;
    font-family: sans-serif, serif, Arial;
  }
}
